<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>

	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<title></title>
		<meta name="generator" content="LibreOffice 6.3.4.2.0 (Linux)"/>
		<meta name="created" content="2020-02-07T00:36:05.038362065"/>
		<meta name="changed" content="2020-02-07T00:54:23.997889952"/>
		<style type="text/css">
			@page { margin: 0.79in }
			p { margin-bottom: 0.1in; background: transparent }
		</style>
	</head>

	<body lang="en-US" dir="ltr">
		{% if english %}

			<p style="margin-bottom: 0.11in; line-height: 107%">
				<font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
					Greetings,
				</font></font></font>
			</p>

			<p style="margin-bottom: 0.11in; line-height: 107%; background: transparent">
				<font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
					Japan Impact is approaching, and it is time to give you some practical info concerning the convention, the parking spaces as well as how the deliveries will unfold on Friday or Saturday.
				</font></font></font>
			</p>

			{% if "Piccard" in parkings %}
				<p style="margin-bottom: 0.11in; line-height: 107%; background: transparent">
					<font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
						{% if parkings | length > 1 %}
							One of your entry points
						{% else %}
							Your entry point
						{% endif %}
						to the convention will be
					</font></font></font>

					<font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
						<b>the Avenue Piccard</b>
					</font></font></font>

					<font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
						, it is a street that passes through two buildings we will use for the convention.
						Depending on where your booth is, you can choose to park on the right or the left, nearest your building.
						It is the red rectangle marked on the attached map.
						You can find the Avenue Piccard on Google Maps
					</font></font></font>

					<a href="https://www.google.ch/maps/place/Avenue+Piccard,+Ecublens/@46.5207071,6.5661907,17z/data=!3m1!4b1!4m5!3m4!1s0x478c30fe1edd9a17:0xd5e61c60471759bf!8m2!3d46.5207071!4d6.5683794" target="_blank">
						<font color="#0000ff"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
							here.
						</font></font></font>
					</a>
				</p>
			{% endif %}

			{% if "Esplanade" in parkings %}
				<p style="margin-bottom: 0.11in; line-height: 107%">
					<font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
						{% if parkings | length > 1 %}
							One of your entry points
						{% else %}
							Your entry point
						{% endif %}
						to the convention will be
					</font></font></font>

					<font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
						<b>the Esplanade parking</b>
					</font></font></font>

					<font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
						, which is located around the center of the convention. Depending on where your booth is, you will park on the left or on the right, nearest your building.
						The parking can also be found on this Google maps link

						<a href="https://www.google.ch/maps/place/Mobility+Carsharing/@46.5202503,6.5647186,18z/data=!3m1!4b1!4m5!3m4!1s0x478c31aea2b3ec63:0xf8b1c4590043b5c1!8m2!3d46.5202485!4d6.5658129?hl=fr" target="_blank">
							here.
						</a>
					</font></font></font>
				</p>
			{% endif %}

			{% if "Rivier" in parkings %}
				<p style="margin-bottom: 0.11in; line-height: 107%">
					<font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
						{% if parkings | length > 1 %}
							One of your entry points
						{% else %}
							Your entry point
						{% endif %}
						to the convention will be
					</font></font></font>

					<font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
						<b>the Rivier parking</b>
					</font></font></font>

					<font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
						, it is a parking space on the edge of the campus, easily accessible from the outside.
		        You can find the Rivier parking on Google Maps

						<a href="https://goo.gl/maps/r3HA8kD7dD8nzigp7" target="_blank">
							here.
						</a>
					</font></font></font>
				</p>
			{% endif %}

			<p style="margin-bottom: 0.11in; line-height: 107%; background: transparent">
				<font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
					A plan for the deliveries has been attached to this email. You should normally arrive through the Route Cantonale.
					You will then need to follow the path shown in red on the map attached.
					For all of Friday, staff members will be present at your parking space.
					They will show you where to park and will give you information if you need it.
					Please respect their instructions.
				</font></font></font>
			</p>

			<br>

			<p style="margin-bottom: 0.11in; line-height: 107%; background: transparent">
				<font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
					Attached to this mail, you will also find one or more parking authorizations (called "macaron" in French).
					You will be responsible for printing them (in color) and placing them under your windshields.
					These are nominative and show your license plate numbers. Please use the correct ones.
				</font></font></font>
			</p>

			{% if "Rouge" in colors %}
				<p style="margin-bottom: 0.11in; line-height: 107%; background: transparent">
					<font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
					The red macaron allows permanently parking on the Avenue Piccard's <b>white parking spots</b>.
					It is very important that you not park anywhere else on the Avenue Piccard, especially not on the yellow spots.
					</font></font></font>
				</p>
			{% endif %}
			{% if "Vert" in colors %}
				<p style="margin-bottom: 0.11in; line-height: 107%; background: transparent">
					<font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
						The green macaron allows parking on the Avenue Piccard's <b>white parking spots</b> for 1 hour maximum.
						You will be required to use your parking disk to show your time of arrival.

						The intent is to let you deliver your booth's materials by car/truck as quickly as you can,
						and then move your vehicle to free up this valuable space, <b>before</b> setting up your booth.

						<br>

						Your vehicle can be moved in the following places :
						<ul>
							<li>You can park in the Rivier parking at any time. It is marked in blue on the attached map.</li>
							<li>From Friday 5PM to Monday 6:59AM, you can use any <b>green or white</b> parking spot on EPFL grounds. You can find examples in pink on the attached map.</li>
						</ul>

						Please never park on a yellow spot.
					</font></font></font>
				</p>
			{% endif %}
			{% if "Jaune" in colors %}
				<p style="margin-bottom: 0.11in; line-height: 107%; background: transparent">
					<font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
						The yellow macaron allows permanently parking under the Esplanade, on <b>white parking spots</b>.
					</font></font></font>
				</p>
			{% endif %}
			{% if "Violet" in colors %}
				<p style="margin-bottom: 0.11in; line-height: 107%; background: transparent">
					<font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
						The violet macaron allows parking under the Esplanade for 1 hour maximum.
						You will be required to use your parking disk to show your time of arrival.

						The intent is to let you deliver your booth's materials by car/truck as quickly as you can,
						and then move your vehicle to free up this valuable space, <b>before</b> setting up your booth.

						<br>

						Your vehicle can be moved in the following places :
						<ul>
							<li>You can park in the Rivier parking at any time. It is marked in blue on the attached map.</li>
							<li>From Friday 5PM to Monday 6:59AM, you can use any <b>green or white</b> parking spot on EPFL grounds. You can find examples in pink on the attached map.</li>
						</ul>

						Please never park on a yellow spot.
					</font></font></font>
				</p>
			{% endif %}
			{% if "Bleu" in colors %}
				<p style="margin-bottom: 0.11in; line-height: 107%; background: transparent">
					<font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
						The blue macaron allows permanently parking at the Rivier parking.
					</font></font></font>
				</p>
			{% endif %}

			<p style="margin-bottom: 0.11in; line-height: 107%; background: transparent">
				<font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
					If you encounter any issue during your Friday or Saturday deliveries, do not hesitate to call {{ pro_tel }}.
				</font></font></font>
			</p>

			<br>

			<p style="margin-bottom: 0.11in; line-height: 107%; background: transparent">
				<font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
					Finally, we would like to direct your attention to a very important point of the rules.
					You must be present and your booth must be totally ready, on Saturday 8:30AM, as well as on Friday 8:30AM.
					We will have a security tour around the convention at that time, and we will check every booth to make sure they
					conform to the security protocol. It is the EPFL's security which gives the final go-ahead for the convention to open.
					It is very important for us to open up on time, so in case you are not around your booth and we cannot wait any longer
					to make any small changes that might be required, we will make them ourselves.
					That is why we would prefer to have you there, so we can discuss these changes with you and find the best solution to the problem.
					Thank you again for your understanding.
				</font></font></font>
			</p>

			<p style="margin-bottom: 0.11in; line-height: 107%; background: transparent">
				<font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
					It has been some years now that the EPFL's security has been concentrating strongly on thermal load, and notably on the large amounts of empty cardboard that usually lie behind
					the convention's booths. In order to enhance security in case of a fire, we ask you to please keep your empty cardboard boxes inside your vehicle.
					You will be able to get them back at the end to pack up your unsold items.
				</font></font></font>
			</p>

			<p style="margin-bottom: 0.11in; line-height: 107%; background: transparent">
		    <font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
		      In case of any questions, please do not hesitate to contact us.
		    </font></font></font>
		  </p>

		  <p style="margin-bottom: 0.11in; line-height: 107%">
		    <font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
		      Bests,
		    </font></font></font>
		  </p>

		  <p style="margin-bottom: 0in">
		    <font color="#444444"><font face="arial, helvetica, sans-serif"><font size="3" style="font-size: 12pt">
		      Responsable Prestataires - Exposants PolyJapan - Japan Impact
		    </font></font></font>
		  </p>

			<p style="margin-bottom: 0in">
				<br/>
			</p>

		{% else %}
			<p style="margin-bottom: 0.11in; line-height: 107%">
				<font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
					Bonjour,
				</font></font></font>
			</p>

			<p style="margin-bottom: 0.11in; line-height: 107%; background: transparent">
				<font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
					Japan Impact approche et il est l’heure de vous donner quelques infos
					pratiques concernant la convention, les parkings ainsi que la façon
					dont va se passer la livraison le Vendredi ou le Samedi.
				</font></font></font>
			</p>

			{% if "Piccard" in parkings %}
				<p style="margin-bottom: 0.11in; line-height: 107%; background: transparent">
					<font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
						{% if parkings | length > 1 %}
							Un de vos points d'entrée
						{% else %}
							Votre point d'entrée
						{% endif %}
						dans la convention se fera par
					</font></font></font>

					<font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
						<b>l'Avenue Piccard</b>
					</font></font></font>

					<font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
						, c’est une rue qui passe entre les deux bâtiments que nous allons
		        utiliser pour la convention. Selon où se trouve votre stand, vous
		        pourrez décharger et partir à gauche ou à droite, dans le bâtiment
		        qui vous correspond.
		        Pour trouver l’avenue Piccard sur Google Maps,
		        vous pouvez suivre
					</font></font></font>

					<a href="https://www.google.ch/maps/place/Avenue+Piccard,+Ecublens/@46.5207071,6.5661907,17z/data=!3m1!4b1!4m5!3m4!1s0x478c30fe1edd9a17:0xd5e61c60471759bf!8m2!3d46.5207071!4d6.5683794" target="_blank">
		        <font color="#0000ff"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
		          ce lien.
		        </font></font></font>
		      </a>

					<font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
						Un plan pour les livraisons a été mis en pièce jointe. Vous arriverez
						normalement par la route Cantonale. Il vous suffira ensuite de suivre
						la route marquée en rouge sur la carte en pièce jointe pour trouver l'Avenue Piccard.
					</font></font></font>
				</p>
			{% endif %}

			{% if "Esplanade" in parkings %}
				<p style="margin-bottom: 0.11in; line-height: 107%">
					<font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
						{% if parkings | length > 1 %}
							Un de vos points d'entrée
						{% else %}
							Votre point d'entrée
						{% endif %}
						dans la convention se fera par
					</font></font></font>

					<font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
						<b>le parking de l'Esplanade</b>
					</font></font></font>

					<font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
						qui se trouve au milieu de la convention. Selon où se
		        trouve votre stand, vous pourrez décharger et partir à gauche ou à
		        droite, dans le bâtiment qui vous correspond. Pour trouver ledit
		        parking sur Google maps, vous pouvez suivre

		        <a href="https://www.google.ch/maps/place/Mobility+Carsharing/@46.5202503,6.5647186,18z/data=!3m1!4b1!4m5!3m4!1s0x478c31aea2b3ec63:0xf8b1c4590043b5c1!8m2!3d46.5202485!4d6.5658129?hl=fr" target="_blank">
		          ce lien.
		        </a>

						Un plan pour les livraisons a été mis en pièce jointe. Vous arriverez
						normalement par la route Cantonale. Il vous suffira ensuite de suivre
						la route marquée en rouge sur la carte en pièce jointe pour trouver le parking de l'Esplanade.
					</font></font></font>
				</p>
			{% endif %}

			{% if "Rivier" in parkings %}
				<p style="margin-bottom: 0.11in; line-height: 107%">
					<font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
						{% if parkings | length > 1 %}
							Un de vos points d'entrée
						{% else %}
							Votre point d'entrée
						{% endif %}
						dans la convention se fera par
					</font></font></font>

					<font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
						<b>le parking Rivier</b>
					</font></font></font>

					<font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
						, c'est un parking situé au bord du campus. Il est facilement accessible depuis l'extérieur.
		        Pour trouver le parking Rivier sur Google Maps,
		        vous pouvez suivre

						<a href="https://goo.gl/maps/r3HA8kD7dD8nzigp7" target="_blank">
			          ce lien.
			      </a>

						Un plan pour les livraisons a été mis en pièce jointe. Vous arriverez
						normalement par la route Cantonale. Il vous suffira ensuite de suivre
						la route marquée en bleu sur la carte en pièce jointe pour trouver le parking Rivier.
					</font></font></font>
				</p>
			{% endif %}

			<p style="margin-bottom: 0.11in; line-height: 107%; background: transparent">
				<font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">

					Toute la journée du Vendredi, nous aurons des staffs présents au niveau de votre parking.
					Ils vous indiqueront où vous parquer et vous renseigneront si vous avez des questions.
					Merci de respecter leurs instructions.
				</font></font></font>
			</p>

			<br>

			<p style="margin-bottom: 0.11in; line-height: 107%; background: transparent">
				<font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
					En pièce jointe de ce mail vous recevrez une ou plusieurs autorisations de parking (macarons).
					Vous êtes responsable de les imprimer (en couleur) et de les placer sous votre pare-brise avant de venir.
					Les macarons sont nominatifs et contiennent vos numéros de plaque, il faut donc utiliser les bons dans chaque véhicule.
				</font></font></font>
			</p>

					{% if "Rouge" in colors %}
						<p style="margin-bottom: 0.11in; line-height: 107%; background: transparent">
							<font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
								Le macaron rouge permet de se parquer de façon permanente sur les <b>places blanches</b> de l'Avenue Piccard.
								Il est très important que vous ne vous parquiez pas ailleurs sur l'Avenue Piccard, notamment sur les places jaunes.
							</font></font></font>
						</p>
					{% endif %}

					{% if "Vert" in colors %}
						<p style="margin-bottom: 0.11in; line-height: 107%; background: transparent">
							<font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
								Le macaron vert permet de se parquer pendant 1 heure maximum sur les <b>places blanches</b> de l'Avenue Piccard.
								Il faudra utiliser le disque pour montrer votre heure d'arrivée.

								Le but étant de vous laisser livrer les matériaux de votre stand en véhicule aussi rapidement que possible,
								puis de déplacer votre véhicule pour libérer ce précieux espace, et ce <b>avant</b> de monter votre stand.

								<br>

								Vous pourrez déposer votre véhicule aux endroits suivants :
								<ul>
									<li>À tout moment, le parking Rivier est accessible avec votre macaron. Il est signalé en bleu sur le plan en pièce jointe.</li>
									<li>De vendredi 17:00 à lundi 06:59, vous pouvez utiliser les places <b>vertes ou blanches</b> sur le campus EPFL. Il y a des exemples en rose sur le plan en pièce jointe. </li>
								</ul>

								Merci de ne jamais vous parquer sur une place jaune.
							</font></font></font>
						</p>
					{% endif %}

					{% if "Jaune" in colors %}
						<p style="margin-bottom: 0.11in; line-height: 107%; background: transparent">
							<font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
								Le macaron jaune permet de se parquer de façon permanente sur les <b>places blanches</b> du parking sous l'Esplanade.
							</font></font></font>
						</p>
					{% endif %}

					{% if "Violet" in colors %}
						<p style="margin-bottom: 0.11in; line-height: 107%; background: transparent">
							<font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
								Le macaron violet permet de se parquer pendant 1 heure maximum sur les <b>places blanches</b> du parking sous l'Esplanade.
								Il faudra utiliser le disque pour montrer votre heure d'arrivée.

								Le but étant de vous laisser livrer les matériaux de votre stand en véhicule aussi rapidement que possible,
								puis de déplacer votre véhicule pour libérer ce précieux espace, et ce <b>avant</b> de monter votre stand.

								<br>

								Vous pourrez déposer votre véhicule aux endroits suivants :
								<ul>
									<li>À tout moment, le parking Rivier est accessible avec votre macaron. Il est signalé en bleu sur le plan en pièce jointe.</li>
									<li>De vendredi 17:00 à lundi 06:59, vous pouvez utiliser les places <b>vertes ou blanches</b> sur le campus EPFL. Il y a des exemples en rose sur le plan en pièce jointe. </li>
								</ul>

								Merci de ne jamais vous parquer sur une place jaune.
							</font></font></font>
						</p>
					{% endif %}

					{% if "Bleu" in colors %}
						<p style="margin-bottom: 0.11in; line-height: 107%; background: transparent">
							<font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
								Le macaron bleu permet de se parquer de façon permanente au parking Rivier.
							</font></font></font>
						</p>
					{% endif %}
				</font></font></font>
			</p>

			<p style="margin-bottom: 0.11in; line-height: 107%; background: transparent">
				<font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
					Si vous avez un problème pour nous trouver lors de vos livraisons le
					Vendredi ou le Samedi, n’hésitez pas à appeler le {{ pro_tel }}.
				</font></font></font>
			</p>

			<br>

			<p style="margin-bottom: 0.11in; line-height: 107%; background: transparent">
				<font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
					Finalement,
					nous aimerions appuyer un point du règlement qui est très important
					pour nous. Vous devez être présent et avoir fini de monter votre
					stand le Samedi ainsi que le Dimanche à 8h30. Nous aurons une
					tournée sécurité à ce moment-là et nous passerons sur chaque
					stand pour vérifier que tout est en conformité avec les règles de
					sécurité. C’est la sécurité de l’EPFL qui nous donne
					l’autorisation d’ouvrir. Pour nous il est très important
					d’ouvrir à l’heure, donc si malheureusement vous n’êtes pas
					sur votre stand et que nous ne pouvons plus attendre pour faire les
					petites modifications nécessaires, nous serons obligés de les faire
					nous-mêmes. C’est pour cela que nous préférons pouvoir vous
					avoir sur le stand et discuter avec vous de la meilleure manière de
					corriger les petits détails du Samedi et Dimanche matin. Merci
					encore pour votre compréhension.
				</font></font></font>
			</p>

			<p style="margin-bottom: 0.11in; line-height: 107%; background: transparent">
				<font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
					Depuis quelques années, la sécurité de l’EPFL se concentre fortement
					sur la charge thermique et notamment sur la quantité de carton vide
					qui se trouve en général sur les stands durant la convention. Afin
					d'accroître la sécurité en cas incendie, nous vous demanderons de
					garder vos cartons vides dans votre véhicule. Vous
					pourrez les récupérer à la fin de la convention pour emballer vos
					invendus.
				</font></font></font>
			</p>

			<p style="margin-bottom: 0.11in; line-height: 107%; background: transparent">
		    <font color="#000000"><font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
		      Si vous avez d’autres questions, n’hésitez surtout pas à nous contacter.
		    </font></font></font>
		  </p>

		  <p style="margin-bottom: 0.11in; line-height: 107%"><font color="#000000">
		    <font face="Calibri, sans-serif"><font size="3" style="font-size: 12pt">
		      Meilleures salutations,
		    </font></font></font>
		  </p>

		  <p style="margin-bottom: 0in">
		    <font color="#444444"><font face="arial, helvetica, sans-serif"><font size="3" style="font-size: 12pt">
		      Responsable Prestataires - Exposants PolyJapan - Japan Impact
		    </font></font></font>
		  </p>

			<p style="margin-bottom: 0in">
				<br/>
			</p>

		{% endif %}

		<p>
			<br/>
			<br/>
		</p>

		<p style="margin-bottom: 0in; line-height: 0.19in; background: transparent">
			<span style="display: inline-block; border: none; padding: 0in">
				<font face="Arial, Helvetica, sans-serif"><font size="2" style="font-size: 10pt"><b><font color="#000000">
					PolyJapan	- AGEPoly - EPFL
				</b></font></font></font>
			</span>
		</p>

		<p style="margin-bottom: 0in; line-height: 0.19in; background: transparent">
			<font size="2" style="font-size: 10pt"><font color="#454545"><font face="Arial, Helvetica, sans-serif">
				CP 16 - Esplanade 13&nbsp;CH-1015 Lausanne
			</font></font></font>
		</p>

		<p style="margin-bottom: 0in; line-height: 0.19in; background: transparent">
			<font color="#454545"><font face="Arial, Helvetica, sans-serif"><font size="2" style="font-size: 10pt">
				Suisse
			</font></font></font>
		</p>

		<p style="margin-bottom: 0in; line-height: 0.19in; background: transparent">
			<br/>
		</p>

		<p style="margin-bottom: 0in; background: transparent">
			<a href="http://polyjapan.epfl.ch/" target="_blank">
				<font color="#1155cc"><font size="2" style="font-size: 9pt">
					http://polyjapan.epfl.ch
				</font></font>
			</a>
		</p>

		<p style="margin-bottom: 0in; background: transparent">
			<a href="http://www.japan-impact.ch/" target="_blank">
				<font color="#1155cc"><font size="2" style="font-size: 9pt">
					http://www.japan-impact.ch/
				</font></font>
			</a>
		</p>

		<p style="margin-bottom: 0in; line-height: 100%; background: transparent">
			<br/>
		</p>
		<p style="margin-bottom: 0.11in; line-height: 107%"><br/>
			<br/>
		</p>
	</body>
</html>
